<section>
  <div class="page-header">
    <h1>Offers</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="offer in vm.offers"
       data-ui-sref="offers.view({ offerId: offer._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="offer.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="offer.user" data-ng-bind="offer.user.displayName"></span>
        <span data-ng-if="!offer.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="offer.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.offers.$resolved && !vm.offers.length">
    No Offers yet, why don't you <a data-ui-sref="offers.create">create one</a>?
  </div>
</section>
