<section>
  <div class="row AboutBG">
    <div class="col-xs-12 aboutInfo">  
    <h1 class="aboutUs">Our vision is to make your life easier</h1>
    <h4 class="supAbout">We realise everyone needs a helping hand sometimes.
    <br>Thats why we are here to help</h4>
    </div>
<!--     <div class="col-xs-12"> 
     <div class="col-xs-4 aboutInfo">
       <h4 class="supAbout">We realise everyone needs a helping hand sometimes.
    <br>Thats why we are here to help</h4>
     </div>
    </div> -->
  </div><!--==Mid section ===-->
  <div class="row ValueBG">
    <div class="container-fluid Aboutcont">
     
      <div class="container-fluid">
        <div class="col-sm-4 aboutInfo">
             <h1 class="valueTitle">About Us</h1>
          <p>Our number one ambition at TaskMatch is to build a trusted online community. 
We know how busy life can be so whether you need some help with a task or are looking to earn extra money we are here to help.
<br>
<br>
Whether you are moving apartments, installing a TV or creating your new company logo we will match you with right person to complete your task.
<br>
<br>
Read reviews and agree prices all from the comfort of your home. Stop worrying and start living.
<br>
<br>
TaskMatch - Outsourcing made easy

         <br>
<br>          TaskMatch.ie<br>
          Temple Lane Studio,<br>
          8 Cecilia Street,<br>
          Dublin 2,<br>
          Ireland</p>
        </div>
        <div class="col-sm-5">
          <h4 class="infoStatement">
              <i>“Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. <br><br>The only way to do great work is to love what you do.”</i>
          </h4>
          <hr>
            <div class="well">
                <ng-map center="Curved Street, Templebar, Dublin" zoom="15" scrollwheel="false">
                    <marker position="Curved Street, Templebar, Dublin" icon="{url:'modules/core/client/img/Animation/locationPinT.png',
                scaledSize:[25,50],
                origin: [0,0],
                anchor: [10,10]}" title="Hello TaskMatch!"></marker>
                </ng-map>
            </div>
        </div>
      </div>
    </div>
  </div><!--==Mid section ===-->
</section>
