<!-- ng-controller="AuthenticationController"-->
<section>

<div ng-include="'/modules/core/client/views/earnSignIn.client.view.html'"></div>  
    
    
    
    
  <div class="row postingTwoBG">
    <div class="col-sm-7">
      <div class="col-md-12">
        <h1 class="todoInfo2">1.Browse through available tasks</h1>
      </div>
      <div class="col-md-7 text-center">
        <img class="comp2" src=
      "../modules/core/client/img/work3.png"></div>
      <div class="col-md-5">
        <p class="todo2infop">Have fun browsing through available tasks. Find a task that's right for you by selecting 

your location and keywords that match your skills. Ensure you don't miss out on a task 

by setting up a TaskMatch Alerts on your profile.</p>
      </div>
    </div>
    <div class="col-sm-5 text-center"><img class="formimg" src=
    "../modules/core/client/img/todo31.png"></div>
  </div>
  
    
    <div class="container-fluid">
    <div class="row completeThreeBG">
      <h1 class="CompInfo4 text-center">2. Select a task that right for you</h1>
      <div class="col-sm-4">
        <img class="compIcons" src=
        "../modules/core/client/img/yourphone.png">
        <p class="infoComple text-center">1. Found a task you want to complete?</p>
      </div>
      <div class="col-sm-4 noPadding">
        <img class="compIcons" src="../modules/core/client/img/connect.png">
        <p class="infoComple2 text-center">2.Select the Make An Offer button and enter a price you think is fair</p>
      </div>
      <div class="col-sm-4">
        <img class="compIcons2" src=
        "../modules/core/client/img/worktime.png">
        <p class="infoComple text-center">3. Don't forget to introduce yourself and tell the Job Poster what your skills are in the comments</p>
          
      
      </div>
        
    </div>
     
  </div>
  <div class="container-fluid noPadding">
    <div class="row postingFourBG noPadding">
      <div class="col-sm-6">
        <h1 class="todoInfo5">3. Build up your profile and reviews</h1>
        <p class="comp5Info">Create an account and then start building your profile to make yourself attractive to people
Hiring on TaskMatch. Once you’re ready to get going<a ui-sref="tasks.list"> Browse Tasks</a>, start commenting and Make an Offer if you think you’re the best person to complete the job.
</p>
      </div>
      <div class="col-sm-6"><img class="review" src=
      "../modules/core/client/img/review.png"></div>
    </div>
  </div>
  <div class="container-fluid noPadding">
    <div class="row compFiveBG noPadding">
      <div class="col-sm-12 text-center">
        <h1 class="compInfo6 text-center">Join Task Match
        now</h1><button class="btn btn-primary JoinBut" ui-sref="authentication.signup">Join Now</button>
      </div>
    </div>
  </div>
</section>