<section>
    <div><img class="AnimateBG2" src="/modules/core/client/img/Animation/AnimateBG2.png"></div>
  <div class="container-fluid AnimateBG ">
    
       
        <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
              <img class="IdeaBulb animated flashBulb" src="../modules/core/client/img/Animation/ideaBulb.png">
              <img class="ChairBuild animated fadeInChair" src="../modules/core/client/img/Animation/chairpic.png">
        <img class="PaintB animated fadeInPaintB" src="../modules/core/client/img/Animation/paintB.png">
           <img class="hammerPic animated fadeInhammerPic" src="../modules/core/client/img/Animation/hammerPic.png">
             <img class="BoxMove animated fadeInBoxMove" src="../modules/core/client/img/Animation/boxMove.png">
        <img class="womanTask1" src="../modules/core/client/img/Animation/womaTask1.png">
               <img class="cameraAnim animated fadeIncameraAnim" src="../modules/core/client/img/Animation/cameraAnim.png">
             <img class="laptopAnim animated fadeInlaptopAnim" src="../modules/core/client/img/Animation/laptopAnim.png">
       <h4 class="animationTitle1 animated fadeInTitle1">What do you need done?<br></h4>
             <p class="animationInfo1 text-center animated fadeInInfo1">
Describe the task you need completed and whether you need it done in person or online. Post any task from handyman to web design in just two minutes – for free! There's no obligation to hire.</p>
            
            </div>
            
            
         <div class="col-sm-4">
            <img class="womanMeasure2 animated fadeInWomanMeasure" src="../modules/core/client/img/Animation/womanMeasure.png">
             <img class="womanTask2 animated fadeInwomanTask2" src="../modules/core/client/img/Animation/womanTask2.png">
             <img class="drill animated bounceIndrill" src="../modules/core/client/img/Animation/drill.png">
             <img class="manTools2 animated fadeInManTools" src="../modules/core/client/img/Animation/manTools2.png">
             <h4 class="animationTitle2 animated fadeInTitle2">Choose the best Worker for your Task<br></h4>
             <p class="animationInfo2 text-center animated fadeInInfo2">
View verified profiles and reviews to pick the best TaskMatch Worker for the task. After you accept an offer, you will need to add funds securely via TaskMatch Pay, which are held until completion. You can then private message and call the TaskMatch Worker.</p>
             
            </div>
         
            
            <div class="col-sm-3">
            <img class="measureTool3 animated fadeInmeasureTool3" src="../modules/core/client/img/Animation/womanMeasureToolMan3.png">
                    <img class="womanTask3 animated fadeInwomanTask3" src="../modules/core/client/img/Animation/womanTask3.png">
                 <img class="starAnim1 animated fadeInRightBigstarAnim1" src="../modules/core/client/img/Animation/starAnim.png">
                <img class="starAnim2 animated fadeInRightBigstarAnim2" src="../modules/core/client/img/Animation/starAnim.png">
                <img class="starAnim3 animated fadeInRightBigstarAnim3" src="../modules/core/client/img/Animation/starAnim.png">
                <img class="starAnim4 animated fadeInRightBigstarAnim4" src="../modules/core/client/img/Animation/starAnim.png">
                <img class="starAnim5 animated fadeInRightBigstarAnim5" src="../modules/core/client/img/Animation/starAnim.png">
            <h4 class="animationTitle3 animated fadeInTitle3">Task Completed!<br></h4>
             <p class="animationInfo3 text-center animated fadeInInfo3">
Once your task is completed you can release the task funds held with TaskMatch Pay. When this has be done, you can leave a review for the TaskMatch Worker to help improve our Community.</p>
            </div>
        <div class="col-sm-1"></div>
       </div> 
        
  </div>
    
    
    
    
    
  <div class="row HowWorksOne">
      <h1 class="mainDivTitlesHowWorks blueHeader" style="margin-top:50px;">Choose from Categories</h1>
      <p class="HowWorksInfoPara text-center">You can get anything done on TaskMatch, whether it's installing lights in your home or help moving house. Simply describe a task you would like to have done, set a budget and start receiving offers from TaskMatch workers</p>
      
 <div class="container-fluid text-center "></div>
    <div class="container-fluid RowCat1">
    <div class="col-sm-1"></div>    
    <div class="col-sm-2 noPadding">
            <img class="catImg shadow" src=
            "../modules/core/client/img/category/Cleaning.png"> <a class=
            "centerText">Home &amp;<br>
            Garden</a>
          </div>
          <div class="col-sm-2 noPadding">
            <img class="catImg shadow" src=
            "../modules/core/client/img/category/MovingDelivery.png"> <a class=
            "centerText">Delivery &amp;<br>
            Removals</a>
          </div>
          <div class="col-sm-4 noPadding">
            <img class="catImg shadow" src=
            "../modules/core/client/img/category/handyman.png"> <a class=
            "centerText">Handyman<br>
            &amp; Trades</a>
          </div>
        
         <div class="col-sm-2 noPadding">
            <img class="catImg shadow" src=
            "../modules/core/client/img/category/Marketing.png"> <a class=
            "centerText">Marketing<br>
            &amp; Design</a>
          </div>  
        <div class="col-sm-1"></div>
       
    </div>
    
        <div class="row noPadding">
 
   <div class="container-fluid noPadding"></div>
    <div class="container-fluid noPadding RowCat2">
    <div class="col-sm-1"></div>    
    <div class="col-sm-3 noPadding">
            <img class="catImg shadow" src=
          "../modules/core/client/img/category/EventsPhotography.png">
          <a class="centerText">Events &amp;<br>
          Photography</a>
          </div>
         <div class="col-sm-2 noPadding">
           <img class="catImg shadow" src=
          "../modules/core/client/img/category/Office.png"> <a class=
          "centerText">Business<br>
          &amp; Admin</a>
          </div>
          <div class="col-sm-2 noPadding">
         <img class="catImg shadow" src=
          "../modules/core/client/img/category/FunQuirky.png"> <a class=
          "centerText">Fun<br>
          &amp; Quirky</a>
          </div>
          <div class="col-sm-3 noPadding">
             <img class="catImg shadow" src=
          "../modules/core/client/img/category/computerIT.png"> <a class=
          "centerText" ui-sref="tasks.list({ statusOpen : false })">Computer<br>
          &amp; IT</a>
          </div>  
        <div class="col-sm-1"></div>
       
    </div>
  </div>
  
    </div>
    
    
    
    
    
    
    <div class="container-fluid">
        <h1 class="mainDivTitlesHowWorks">Customer Support</h1>
      <p class="HowWorksInfoPara text-center">Whether it’s putting together furniture or cleaning your home, just describe a task you’d like to get done, set a budget and you’ll start to receive offers from TaskMatch runners.</p>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center"><a ui-sref="contact"><img class="formimg4 animated rubberBand" src=
    "../modules/core/client/img/support.png"></a></div>
     
    <div class="col-sm-4"></div>
    </div>

<div class="row">
 <div class="container-fluid HowWorksTwo">
    <div class="col-sm-7">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="todoInfo7" style="font-size:30px;">Choose from verified workers</h1>  
        <p class="todo2infop" style="color:white;font-size:19px;padding-top:0px;">Task Runners are waiting to complete tasks, you
        will receive offers within minutes.<br>
        Review TaskMatch workers skills and completed work. You can also view worker profiles and ask questions about their necessary experience.<br>
        <br>
        Find out more information from workers on why they are perfect for your task. Once you have chosen your TaskMatch worker, you can reach out and discuss your task further.</p>
          
    
          
      </div>
    </div>
    <div class="col-sm-5">
        
        <img class="chatImg1 animated chat1" src=
    "../modules/core/client/img/Animation/chat11.png">
        
          <img class="chatImg1 animated chat2" src=
    "../modules/core/client/img/Animation/chat12.png">
        
          <img class="chatImg1 animated chat3" src=
    "../modules/core/client/img/Animation/chat13.png">
        
          <img class="chatImg1 animated chat4" src=
    "../modules/core/client/img/Animation/chat14.png">
        
          <img class="chatImg1 animated chat5" src=
    "../modules/core/client/img/Animation/chat15.png">
         
     </div>
  </div>
    </div>
    <div class="container-fluid noPadding mapNearSect">
    <div class="row  noPadding">
      <div class="col-sm-12 text-center">
<!--
             <img class="formimg6 animated pulse3 mapImage pull-right" src=
    "../modules/core/client/img/mapTasks.png">
-->
          <img class="formimg6 animated pulse3 mapImage pull-right" src=
    "../modules/core/client/img/mapTasks.png">
          <img class=" animated PinsDrop" src=
    "../modules/core/client/img/pinDropped.png">
          <div class="mapNearInfo">
          <h4 class="mapNearInfoTitle">Near to you</h4>
            <p class="mapNearInfoText">Find workers in your local area available to complete your Task. All tasks are posted to our map to allow users to search for tasks close to them. <br><br>
Tasks are available all over Ireland. TaskMatch allows users to filter the tasks  they want based on their location.
</p>      
      </div>
    </div>
  </div>
          </div>    
<!--
      <div class="container-fluid noPadding">
    <div class="row HowWorksOne">
      <div class="col-sm-12 text-center">
             <img class="formimg6 animated pulse3 pull-left mapImage" src=
    "../modules/core/client/img/mapTasks.png">
          <h4 class="animatedpulse3h4">Find local jobs and earn money in your area at a time that suits you</h4>
      </div>
    </div>
  </div>
-->
    <hr>
         <div class="container-fluid noPadding">
    <div class="row  noPadding PaymentSect">
        <h4 class="secureTitle">
        Secure Payment
        </h4>
        <p class="secureInfo">TaskMatch Pay is a quick and secure 
way to get your tasks completed. 
Once an offer is accepted on a task, the
agreed upon amount will be 
securely held in a TaskMatch Trust 
Account until the task is completed.

When the task is completed, you’ll need to mark the task as completed and the funds will be transferred to their bank account. Make sure you have this set up before you start completing tasks.</p>
        
        <img class="secureIcon1" src="../modules/core/client/img/cardIcon.png">
        <img class="secureIcon2" src="../modules/core/client/img/PinIcon.png">
         </div>
          </div>
    
    
    
    
<!--          <div class="row appGo">
          <div class="col-xs-12">
        <h3 class="mainDivTitles">On the go?</h3>
             </div>
          <div class="container-fluid sideResponsivePics">
<ul class="grid">
	  <li class="one"><span class="s"></span></li>
	  <li class="two"><span class="s"></span></li>
	  <li class="three"><span class="s"></span></li>
	  <li class="four"><span class="s"></span></li>
</ul>
      </div>
                  <div class="appGoInfo">
          <h4 class="appGoInfoTitle">Use Taskmatch anywhere</h4>
            <p class="appGoInfoText">Find workers in your local area available to complete your Task. All tasks are posted to our map to allow users to search for tasks close to them. <br><br>
Tasks are available all over Ireland. TaskMatch allows users to filter the tasks  they want based on their location.<br><br>
Coming soon to:<br><br>
<img src="../modules/core/client/img/appStorecoming.png" class="appStoreComing">
</p>      
      </div>     
             
             
             
    </div> -->
</section>
