<section>
<div class="container-fluid newUserPageContainer">
        <div class="page-title NewUserPageTitle">
        <h2 class="text-center">Investor Relations</h2>    
        </div>
            <div class="container-fluid text-center pull-right Investors">

                <h3 class="text-center InvestorsPageTitleInfo">TaskMatch annouces Irelands first marketplace dedicated to outsourcing tasks</h3>
            </div>
    
            <div class="container-fluid investors2">
<div class="row">
    <div class="col-xs-7">
                
    <h1 class="InvestorLeftTitle">TaskMatch's key shareholder information and financial reports</h1>
                <h4 class="InvestorsLeftInfo">Prospective Investors can get in contact using our <a ui-sref="contact">contact</a> page</h4>
          
              </div>  
                <div class="col-xs-5 InvestorsRightLogin">
                   <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
          
          
        <div class="form-group" show-errors>
          <label class="SignInInvestor" for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control SignInInvestor" placeholder="Username" lowercase required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="SignInInvestor" for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control SignInInvestor"  placeholder="Password" required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
          </div>
        </div>
          
        <div class="SignInInvestor form-group ">
          <button type="submit" class="btn btn-primary btn-sm" ng-click="cancel()" >Sign in</button>
           </div>     
               
            </div>
    
    
                    </form>
    </div>
    
</div></div>
</section>