<section>
<div class="container-fluid newUserPageContainer"> 
    <div class="page-title NewUserPageTitle">
        <h2 class="text-center">MarketPlace Rules</h2>    
        </div>
    <div class="container-fluid text-center NewUser2">
<h1 class="col-md-6 col-md-offset-3 text-center TermsTitle"></h1>
    
               <div class="col-md-6 col-md-offset-3">    
        <div ng-controller="AccordionValuesCtrl">

  <accordion close-others="oneAtATime">
    <accordion-group heading="General Information" is-open="status.is1Open" is-disabled="status.is1Disabled">
      
The following rules are to make sure all users of TaskMatch

have a safe and rewarding experience, it is important for 

everyone to act responsibly and with respect.

    </accordion-group>
      <accordion-group heading="Rules" is-open="status.isSecondOpen" is-disabled="status.isSecondDisabled">
          1. All users must be over the age of 18 to use Taskmatch.<br><br>

2. Users can only have one single, active account on the platform and any 

duplicate accounts will be removed.<br><br>

3. Users must ensure that they have provided Taskmatch with the correct 

banking and personal details for payments to be transferred into.<br><br>

4. Inappropriate content with vulgarities, used in the context of a personal 

attack/insult will be removed immediately and result in suspension and 

deactivation of accounts.<br><br>

5. Tasks posted on Taskmatch must be all legal and all Taskmatch 

Workers must be legally entitled to perform the task.<br><br>

6. Once an offer is accepted a Task Poster must add funds to a task via a 

VISA or Mastercard credit/debit card. Payment is securely held in an 

Taskmatch Trust Account. When a task is completed the assigned 

Taskmatch Worker will request payment and the Task Poster will then 

confirm the task is completed by releasing funds.<br><br>

7. Taskmatch accounts must represent the user completing the job with 

valid personal details. If your offer is accepted, you are legally 

responsible for the provision of the agreed services as part of the Task 

Contract. Subcontracting of tasks is not permitted.<br><br>

8. When an offer is accepted a Job Poster is not obliged to pay any 

additional fees within the Taskmatch marketplace. Pricing for offers 

placed is final.<br><br>

9. You must maintain control of your account at all times, its is your 

responsibility and it’s not transferrable<br><br>

10. All Offers placed must not be hourly or quote based (e.g. “I will work for 

€10/hour”) They all must be total to the full amount per task.<br><br>

11. Any disclosure of private contact details or 3rd party links is not allowed 

to be shared in any public area of the site (e.g. Business Websites, 

Facebook/LinkedIn/twitter contact details). This also includes within 

comments or attachments or anywhere on TaskMatch.<br><br>

12. Taskmatch is a marketplace for services and not a discussion 

forum.Any Comment that is considered off-topic, aimed at influencing 

other user’s offers or derogatory towards a Task Poster will not be 

supported and may be deleted at any time and users accounts from 

where the comments have come may be suspended if felt appropriate.<br><br>

13. All Taskmatch members must comply with our marketplace rules. 

Failure to comply will result in suspension from the marketplace and 

deactivation of your account.
    </accordion-group>
       <accordion-group heading="What you can't post on TaskMatch." is-open="status.isFourthOpen" is-disabled="status.isFourthDisabled">
1. Any tasks or comments that are considered trolling, derogatory or non 

compliant.<br><br>

2. Tasks that are non-task based. e.g. If it does not have a clearly 

described title and scope of work, a specific start / end time or an 

unconfirmed price or hourly budget.<br><br>

3. Any tasks, attachments or comments which advertise private contact 

details, third party services or any other websites.<br><br>

4. Any Assignment or assessment related tasks, e.g. “finish my college 

assignment”.<br><br>

5. Services that are illegal, scams or any request related to drugs including 

prescription drugs.<br><br>

6. Anything posts related to weapons or unlawful activity. This includes 

soliciting, inducing or encouraging illegal acts or requesting goods or 

services in furtherance of a act of crime or terrorism.<br><br>

7. Any adult or escort related services, tasks or content which is obscene 

or sexually explicit in nature.<br><br>

8. Business advertisements, offering of services provided or any fishing 

user contact details, lead generation/sign up requests or competitions.<br><br>

9. Services that promote racist, hatred or violence against specific people.<br><br>

10. Any commission or sales based tasks, e.g. “earn €50 for every sale you 

make”, “€1 for every person you get to sign up”.<br><br>

11. Financial return or financial transaction based requests, e.g. “Need 

€1000 and will pay 10% return”.<br><br>

12. Any comments or actions that may cause distress or jeopardise other 

members on the marketplace.
    </accordion-group>
      <accordion-group heading="Task Guidelines" is-open="status.isSixthOpen" is-disabled="status.isSixthDisabled">
   All tasks posted must comply with Irish laws and regulations.

Do not share your own or any other individual’s private contact details (such 

as full name, email, home address or phone number) in any public area of 

Taskmatch. For your safety and to maintain the integrity of the Taskmatch 

marketplace, we suggest that you only communicate through Taskmatch 

private messaging system.

Members have control over the final amount they wish to offer to complete a 

task (i.e. they may offer higher or lower than the listed price). Any comments 

that are considered trolling, aimed at influencing/defaming other member's 

offers or derogatory towards the Job Poster’s budget will not be supported.

If you suspect a task or member who may have violated these policies, please 

report it to Taskmatch using the "Report as inappropriate” feature (can be 

found both in the Task or Comments section) or Contact Us so we can review 

it accordingly.

Members who breach the marketplace rules may have their account 

suspended or deactivated.

Please read the Taskmatch Privacy Policy and Terms of Use in addition to the 

above rules.
    </accordion-group>
      <accordion-group heading="Disputes" is-open="status.isSeventhOpen" is-disabled="status.isSeventhDisabled">
  As engagements are agreed between you and a 3rd party of your choosing, 

all agreements are final and Taskmatch is not responsible for refunds for any 

reason. If you feel you may have been the victim of a crime, document what 

happened and contact the Gardai. If a crime has taken place in relation to a 

Taskmatch transaction, provide us with a copy of the Gardai report or guide 

the authorities to contact us so that we can follow up and take appropriate 

action.
    </accordion-group>
      <accordion-group heading="Personal Conduct" is-open="status.isEigthOpen" is-disabled="status.isEigthDisabled">
   Taskmatch members are other people from your local community and they

may even be someone you already know, so treat people as you would like to 

be treated yourself and use common sense so that we can all enjoy being part 

of the Taskmatch community. If you experience any abusive communications 

sent via Taskmatch please let us know by using the report button or <a ui-sref="Contact">Contact </a>

Us.
    </accordion-group>
     

  </accordion>
            
            <div class="container-fluid Terms">
                <br><br><br><br>
             Thanks for reading.<br><br>
              The team at TaskMatch.ie
            </div>
                    </div>
                </div>
</div>
    </div>
</section>