<section>
<div class="container-fluid newUserPageContainer" ng-controller="HomeController">
        <div class="page-title NewUserPageTitle">
        <h2 class="text-center">New User FAQ</h2>    
        </div>
            <div class="container-fluid text-center NewUser" id="NewFAQTopAnchor">

                <h3 class="text-center NewUserPageTitleInfo">Here is a list of some frequently asked                         questions to help to get started. If you can’t find what you

                    are looking for please <a ui-sref="contact">contact us </a></h3>
            </div>
    
            <div class="container-fluid NewUser2" >
            <ul class="NewUserFaqList">
                <li><a ng-click="gotoWhatisTaskM()">What is TaskMatch?</a></li> 
                 <li><a ng-click="gotoWhatTaskCan()">What tasks can I get done on TaskMatch?</a></li> 
                 <li><a ng-click="gotoHowCanComplete()">How can I get my tasks completed on TaskMatch?</a></li> 
                 <li><a ng-click="gotoMuchCost()">How much does it cost to post a task?</a></li> 
                 <li><a ng-click="gotoHaveToHire()">Once I post a task, do I have to hire a TaskMatch Worker?</a></li> 
                 <li><a ng-click="gotoTrustQuality()">What Trust &amp; Quality features does TaskMatch provide?</a></li> 
                 <li><a ng-click="gotoChoosePerson()">How do I choose the best person to complete my task?</a></li>
                 <li><a ng-click="gotoKnowPay()">How do I know how much to pay for a task?</a></li>
                 <li><a ng-click="gotoDiscussTasks()">What are the payment options for each task?</a></li>
                <li><a ng-click="gotoPayOptions()">How do I discuss the task before assigning an TaskMatch Worker to my task?</a></li>
                <li><a ng-click="gotoWorkAndEarn()">Who can complete work and earn money on TaskMatch?</a></li>
                <li><a ng-click="gotoStartEarning()">How do I start earning money through TaskMatch?</a></li>
                <li><a ng-click="gotoRecievePayment()">How do I receive payment for completing a task?</a></li>
                
                
            </ul>
    
                
                <div id="WhatisTaskMAnchor"></div>
                <h4 class="NewUserTitle">What is TaskMatch?</h4>
                <p class="NewUserInfo">TaskMatch is a trusted community marketplace for people to outsource tasks, find local services or complete flexible jobs to earn money – online or via mobile.</p>
                <a class="backTop" ng-click="gotoNewFAQTop()">Back to the Top</a>
                
                
                <div id="WhatTaskCanAnchor"></div>
                <h4 class="NewUserTitle">What tasks can I get done on TaskMatch?</h4>
                <p class="NewUserInfo">You can post almost any task you need done on TaskMatch. From tasks around the house (like gardening or cleaning) to office tasks (like data entry or website support) to tasks for business (like promotional staffing or mystery shopper).</p>
                <a class="backTop" ng-click="gotoNewFAQTop()">Back to the Top</a>
    
                
                <div id="HowCanCompleteAnchor"></div>
                <h4 class="NewUserTitle">How can I get my tasks completed on TaskMatch?</h4>
                <p class="NewUserInfo">It's very simple. You Start by Posting a Task ­ it's FREE to post and takes just a few minutes. TaskMatch Workers will then make offers to complete your task. Check out their profile and once you've found the TaskMatch worker that's perfect for your task, accept their offer to assign them to the task.<br><br>

When accepting the offer you will Add Funds for the task via TaskMatch Pay, which are securely held in an TaskMatch Trust Account until the task has been completed. This allows the TaskMatch Worker to start working knowing there are Funds secured for the task. Funds are 
only released to the TaskMatch Worker once both of you are satisfied that the task has been 
completed. <br><br>

Read more about <a ui-sref="howsWorking">How it Works</a>.</p>
                <a class="backTop" ng-click="gotoNewFAQTop()">Back to the Top</a>
    
                
                <div id="MuchCostAnchor"></div>
                <h4 class="NewUserTitle">How much does it cost to post a task?</h4>
                <p class="NewUserInfo">It is FREE to post a task. Once you have accepted the agreed task price you will need to Add Funds for the task via TaskMatch Pay, which are securely held in an TaskMatch Trust Account until the task has been completed. You will need to Release Funds upon task completion. There are no additional fees or hidden costs and cash payments are not supported on TaskMatch. (We deduct a Service Fee from the TaskMatch Worker who completes your job.)</p>
                <a class="backTop" ng-click="gotoNewFAQTop()">Back to the Top</a>
                
                
                <div id="HaveToHireAnchor"></div>
                <h4 class="NewUserTitle">Once I post a task, do I have to hire a TaskMatch Worker?</h4>
                <p class="NewUserInfo">No, it is FREE to post a task and there are no obligations to select an TaskMatch Worker unless you find the right person for the job and accept their offer.</p>
                <a class="backTop" ng-click="gotoNewFAQTop()">Back to the Top</a>
                
                
                <div id="TrustQualityAnchor"></div>
                <h4 class="NewUserTitle">What Trust &amp; Quality features does TaskMatch

provide?</h4>
                <p class="NewUserInfo">To make sure you have a rewarding TaskMatch experience, we've built a range of features which will help deliver you peace of mind. We provide verified IDs, secure payments via TaskMatch Pay and a Customer Support Team ready to assist any time.</p>
                <a class="backTop" ng-click="gotoNewFAQTop()">Back to the Top</a>
                
                
                <div id="ChoosePersonAnchor"></div>
                <h4 class="NewUserTitle">How do I choose the best person to complete my task?</h4>
                <p class="NewUserInfo">Usually you'll receive offers from 2-3 people who can complete your task. You can ask them questions, request further details about their skills and check out their profile to make sure that you find the right person for the task. There are no obligations to hire.</p>
                <a class="backTop" ng-click="gotoNewFAQTop()">Back to the Top</a>
                
                <div id="KnowPayAnchor"></div>
                <h4 class="NewUserTitle">How do I know how much to pay for a task?</h4>
                <p class="NewUserInfo" ng-click="gotoNewFAQTop()">The price that you offer is simply a starting point and experienced TaskMatch Workers will make offers so that you reach a fair price. There are no strict rules about how much to offer but as a starting point, think of how much time it might take the person to complete the task and what a fair hourly rate could be depending on the experience or skills required. You can also <a ui-sref="tasks.list">Browse Tasks</a> and check out similar tasks before making your offer or check our <a ui-sref="priceGuide">Price Guide</a></p>
                <a class="backTop" ng-click="gotoNewFAQTop()">Back to the Top</a>
                
                <div id="DiscussTasksAnchor"></div>
                <h4 class="NewUserTitle">What are the payment options for each task?</h4>
                <p class="NewUserInfo" ng-click="gotoNewFAQTop()">When accepting an offer you are required to Add Funds. Your payment method can be either a VISA or Mastercard Debit/Credit card. Cash Payments are not supported on TaskMatch, once you've added Funds you have paid for the task to be completed.</p>
                <a class="backTop" ng-click="gotoNewFAQTop()">Back to the Top</a>
                
                
                <div id="PayOptionsAnchor"></div>
                <h4 class="NewUserTitle">How do I discuss the task before assigning a TaskMatch Worker to my task?</h4>
                <p class="NewUserInfo">Whether you’re a Job Poster or an TaskMatch Worker, ensuring your tasks are completed requires communication. We’ve built a dedicated commenting wall for each task, where you can comment on the task and ask questions.<br><br>

Once the Job Poster has accepted a TaskMatch Worker's offer and they've been assigned to a task, 
you can communicate safely through Private Messages to discuss further details.</p>
                <a class="backTop" ng-click="gotoNewFAQTop()">Back to the Top</a>
                
                
                <div id="WorkAndEarnAnchor"></div>
                <h4 class="NewUserTitle">Who can complete work and earn money on TaskMatch?</h4>
                <p class="NewUserInfo">Almost anyone can <a ui-sref="authentication.signup">create an account</a> and start bidding for work on TaskMatch. To make sure you're competitive when making offers for tasks, you'll need to build your TaskMatch profile with social connections and by earning positive reviews on completed tasks.</p>
                <a class="backTop" ng-click="gotoNewFAQTop()">Back to the Top</a>
                
                
                <div id="StartEarningAnchor"></div>
                <h4 class="NewUserTitle">How do I start earning money through TaskMatch?</h4>
                <p class="NewUserInfo">Create an account and then start building your profile to make yourself attractive to people hiring on TaskMatch. Once you're ready to get going: <a ui-sref="tasks.list">Browse Tasks</a>, start commenting and Make An Offer if you think you're the best person for the job.</p>
                <a class="backTop" ng-click="gotoNewFAQTop()">Back to the Top</a>
                
                
                <div id="RecievePaymentAnchor"></div>
                <h4 class="NewUserTitle">How do I receive payment for completing a task?</h4>
                <p class="NewUserInfo">Once your offer has been accepted the Job Poster has already securely added Funds for the task, held in an TaskMatch Trust Account until it has been completed. When completed, select Request Payment and the Job Poster will be notified to Release Funds held into your verified Bank or PayPal 

account.</p>
                <a class="backTop" ng-click="gotoNewFAQTop()">Back to the Top</a>
    
            </div>
    
    
    
    
</div>
</section>
