<section>
  <div class="container postingOne">
    <h1 class="todoInfo9">How to Post a Task</h1>
    <h5 class="todoInfoInfo">The best place to post and outsource tasks</h5>
  </div>
  <div class="row postingTwoBG">
    <div class="col-sm-7">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <h1 class="todoInfo8">1. Fill in your task form</h1>
        <p class="todo2infop">
          Describe the task you need completed and whether you need it done in person or online. Post any task from cleaning to a delivery in just a few minutes – completely free of charge! Remember, there's no obligation to hire.
        </p>
        <p class="todo2infop">Task Runners are waiting to complete tasks, you
        will receive offers within minutes.</p>
      </div>
    </div>
    <div class="col-sm-5 text-center">
      <img class="formimg" src=
    "../modules/core/client/img/form1.png"></div>
  </div>
  <div class="container-fluid postingAlternate">
    <div class="col-sm-5 text-center">
      <img class="formimg" src=
    "../modules/core/client/img/offerBox.png">
  </div>
    <div class="col-sm-7">
      <div class="col-md-8">
        <h1 class="todoInfo8">2. Receive multiple offers from trusted
        workers</h1>
        <p class="todo2infop">
        View profiles, verifications and reviews to pick the best Taskrunner for the task. When you accept an offer, you’ll add funds securely via Taskmatch Pay, which are safely held in an account until the task has been marked as complete. Once assigned, you can private message and call the assigned Taskrunner.</p>
      </div>
    </div>
  </div>
  <div class="row postingTwoBG">
    <div class="col-sm-7">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <h1 class="todoInfo8">3. Add funds to the Task account</h1>
        <p class="todo2infop">Once you have found the right TaskRunner and accepted their offer, you will then need to pay for your task to be completed.<br>
          With our quick and easy process, you can add your card details and complete the payment process in just a few steps. You can even save your card details for a more convenient checkout process next time. </p>
      </div>
    </div>
    <div class="col-sm-5 text-center">
      <img class="formimg2" src=
    "../modules/core/client/img/pigb.png"></div>
  </div>
  <div class="container-fluid postingAlternate">
    <div class="col-sm-5 text-center">
      <img class="formimg" src=
    "../modules/core/client/img/done.png">
  </div>
    <div class="col-sm-7">
      <div class="col-md-8">
        <h1 class="todoInfo8">4. Choose when suits you to complete your
        task</h1>
        <p class="todo2infop">
        Once your designated Taskmatcher has completed your task, you can mark the task as complete and release the task funds held with Taskmatch Pay. Once released, you can leave a review for the Taskrunner to help other users make the right choice!</p>
      </div>
    </div>
  </div><!--==Posting collapse End section ===-->
</section>