<section>
<div class="container-fluid newUserPageContainer" ng-controller="HomeController" >
        <div class="page-title NewUserPageTitle" >
        <h2 class="text-center">TaskMatch Price Guide</h2>    
        </div>
            <div class="container-fluid text-center PriceGuide">
                    <h1 class="PriceGuideTitleInfo2"></h1>
                <h3 class="text-center PriceGuideTitleInfo">Not sure how much how much it will cost to have your task completed? Find a guide below</a></h3>
            </div>
    
            <div class="container-fluid NewUser2" id="TopPriceGuideAnchor">
           
                <h4 class="text-center PriceInfoTop">
              When posting a task, you will be asked to enter a budget to indicate roughly how much you would like to pay. TaskMatch Workers will then bid on your task until you each fair price.<br><br>

As a guide, we’ve listed out approximate rates for a 

range of task below:</h4>
    
                
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-sm-2">
                        <button class="btn btn-default btn-block" ng-click="gotoHandy()">Handyman &amp; Trades</button>
                        <button class="btn btn-default btn-block" ng-click="gotoDelivery()">Delivery &amp; Removals</button>
                        <button class="btn btn-default btn-block" ng-click="gotoCleaning()">Cleaning</button>
                            </div>
                        <div class="col-sm-2">
                        <button class="btn btn-default btn-block" ng-click="gotoGardening()">Home &amp; Garden</button>
                        <button class="btn btn-default btn-block" ng-click="gotoDesign()">Design &amp; Photography</button>
                        <button class="btn btn-default btn-block" ng-click="gotoOffice()">Office &amp; Admin</button>
                        <button class="btn btn-default btn-block" ng-click="gotoComputer()">Computer &amp; Website</button>
                            </div>
                        <div class="col-sm-2">
                        <button class="btn btn-default btn-block" ng-click="gotoResearch()">Research</button>
                        <button class="btn btn-default btn-block" ng-click="gotoPromo()">Promotional Staff</button>
                        <button class="btn btn-default btn-block" ng-click="gotoFurniture()">Furniture Assembly</button>
                            </div>
                         <div class="col-xs-3"></div>
                    </div>
                
                </div>
                
                <div class="container-fluid">
                    <div class="row TipRow">
                        <div class="col-sm-2"></div>
                <div class="col-sm-8"> <p class="text-center">
Tip: If you are unsure how much to budget for your task you can simply post it up with an hourly rate of €10 and let our community of TaskMatch Workers offer prices they think are fair.</p></div>  
                        <div class="col-sm-2"></div>
                        
                    </div>
                     </div>
                
          <div class="row PriceGuideSegment" id="HandyAnchor"> 
                <h2 class="text-center PriceSegmentTitle"><b>Handyman &amp; Trade Tasks</b></h2>
                 <div class="container-fluid PriceSegments">
                    <div class="row">
                               <div class="col-xs-4 panel panel-default">
                                  <div class="panel-body text-center">
                                    <b>Basic</b>
                                      <br><br>
                                      €10/hour
                                      <br><br>
                                        <ul>
                                    <li>No specialist skills required</li>
                                    <li>Basic tools only</li>
                                        </ul>
                                  </div>
                                </div>
                                 <div class=" col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                           <b>Skilled</b>
                                      <br><br>
                                      €15/hour
                                      <br><br>
                                       <ul>
                                    <li>Some special skills required</li>
                                    <li>Some tools needed</li>
                                        </ul>
                                          </div>
                                        </div>
                                 <div class="col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                            <b>Professional</b>
                                      <br><br>
                                      €35/hour
                                      <br><br>
                                      <ul>
                                    <li>Professional skills required</li>
                                    <li>Specific tools needed</li>
                                        </ul>
                                          </div>
                                        </div>
                    </div>
                </div>
               <div class="container-fluid text-center">
                <button class="btn btn-default BackTopBut" ng-click="gotoTopPriceGuide()">Back to Top</button>
                      </div>
         </div>
                
                
                          <div class="row PriceGuideSegment" id="DeliveryAnchor"> 
                <h2 class="text-center PriceSegmentTitle"><b>Delivery &amp; Removals</b></h2>
                 <div class="container-fluid PriceSegments">
                    <div class="row">
                               <div class="col-xs-4 panel panel-default">
                                  <div class="panel-body text-center">
                                    <b>Small Item</b>
                                      <br><br>
                                     €10/hour
                                      <br><br>
                                     <ul>
                                    <li>Easy to carry</li>
                                    <li>On foot/Public transport Ok</li>
                                        </ul>
                                  </div>
                                </div>
                                 <div class=" col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                           <b>Larger Item</b>
                                      <br><br>
                                      €20/hour
                                      <br><br>
                                      <ul>
                                    <li>Larger box or package</li>
                                    <li>Car required</li>
                                        </ul>
                                          </div>
                                        </div>
                                 <div class="col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                            <b>Moving/Removals</b>
                                      <br><br>
                                      €35/hour
                                      <br><br>
                                       <ul>
                                    <li>Furniture or Heavy Items</li>
                                    <li>Truck or Van required</li>
                                        </ul>
                                          </div>
                                        </div>
                    </div>
                </div>
                 <div class="container-fluid text-center">
                <button class="btn btn-default BackTopBut" ng-click="gotoTopPriceGuide()">Back to Top</button>
                      </div>
         </div>
                
                
                  <div class="row PriceGuideSegment" id="CleaningAnchor"> 
                <h2 class="text-center PriceSegmentTitle"><b>Cleaning</b></h2>
                 <div class="container-fluid PriceSegments">
                    <div class="row">
                               <div class="col-xs-4 panel panel-default">
                                  <div class="panel-body text-center">
                                    <b>Routine Clean</b>
                                      <br><br>
                                      €10/hour
                                      <br><br>
                                      <ul>
                                    <li>Apartment or house</li>
                                    <li>Supplies provided</li>
                                        </ul>
                                  </div>
                                </div>
                                 <div class=" col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                           <b>Deeper Clean</b>
                                      <br><br>
                                      €12/hour
                                      <br><br>
                                      <ul>
                                    <li>Windows or other items</li>
                                    <li>Most supplies provided</li>
                                        </ul>
                                          </div>
                                        </div>
                                 <div class="col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                            <b>Spring Clean</b>
                                      <br><br>
                                      €15/hour
                                      <br><br>
                                      <ul>
                                    <li>Major clean up</li>
                                    <li>Specialist tools needed</li>
                                        </ul>
                                          </div>
                                        </div>
                    </div>
                </div>
                <div class="container-fluid text-center">
                <button class="btn btn-default BackTopBut" ng-click="gotoTopPriceGuide()">Back to Top</button>
                      </div>
         </div>
                
                
              <div class="row PriceGuideSegment" id="GardeningAnchor"> 
                <h2 class="text-center PriceSegmentTitle"><b>Home &amp; Garden</b></h2>
                 <div class="container-fluid PriceSegments">
                    <div class="row">
                               <div class="col-xs-4 panel panel-default">
                                  <div class="panel-body text-center">
                                    <b>General Maintenance</b>
                                      <br><br>
                                      €10/hour
                                      <br><br>
                                      <ul>
                                    <li>Light gardening</li>
                                    <li>Tools provided</li>
                                      </ul>
                                  </div>
                                </div>
                                 <div class=" col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                           <b>Weeding / Mowing</b>
                                      <br><br>
                                      €15/hour
                                      <br><br>
                                      <ul>
                                    <li>Moderate amount of labour</li>
                                    <li>Basic tools needed</li>
                                              </ul>
                                          </div>
                                        </div>
                                 <div class="col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                            <b>Specialist Gardening</b>
                                      <br><br>
                                      €25/hour
                                      <br><br>
                                     <ul>
                                    <li>More difficult tasks</li>
                                    <li>Specialist tools needed</li>
                                              </ul>
                                          </div>
                                        </div>
                    </div>
                </div>
                <div class="container-fluid text-center">
                <button class="btn btn-default BackTopBut" ng-click="gotoTopPriceGuide()">Back to Top</button>
                      </div>
         </div>
                
                
                
                  <div class="row PriceGuideSegment" id="DesignAnchor"> 
                <h2 class="text-center PriceSegmentTitle"><b>Design &amp; Photography</b></h2>
                 <div class="container-fluid PriceSegments">
                    <div class="row">
                               <div class="col-xs-4 panel panel-default">
                                  <div class="panel-body text-center">
                                    <b>Basic Design</b>
                                      <br><br>
                                      €10/hour
                                      <br><br>
                                      <ul>
                                    <li>Simple tweaks or photoshop</li>
                                    <li>Basic design knowledge</li>
                                      </ul>
                                  </div>
                                </div>
                                 <div class=" col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                           <b>Photography /Graphics</b>
                                      <br><br>
                                      €20/hour
                                      <br><br>
                                     <ul>
                                    <li>Photoshoot or brand design</li>
                                    <li>Some equipment required</li>
                                              </ul>
                                          </div>
                                        </div>
                                 <div class="col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                            <b>Design Projects</b>
                                      <br><br>
                                      €25/hour
                                      <br><br>
                                     <ul>
                                    <li>Major brand / photo project</li>
                                    <li>Specialist skills or equipment</li>
                                              </ul>
                                          </div>
                                        </div>
                    </div>
                </div>
               <div class="container-fluid text-center">
                <button class="btn btn-default BackTopBut" ng-click="gotoTopPriceGuide()">Back to Top</button>
                      </div>
         </div>
                
                
              <div class="row PriceGuideSegment" id="OfficeAnchor"> 
                <h2 class="text-center PriceSegmentTitle"><b>Office &amp; Admin Tasks</b></h2>
                 <div class="container-fluid PriceSegments">
                    <div class="row">
                               <div class="col-xs-4 panel panel-default">
                                  <div class="panel-body text-center">
                                    <b>Basic Tasks</b>
                                      <br><br>
                                      €12/hour
                                      <br><br>
                                       <ul>
                                    <li>Simple research or data entry</li>
                                    <li>No specialist skills required</li>
                                              </ul>
                                  </div>
                                </div>
                                 <div class=" col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                           <b>Semi skilled tasks</b>
                                      <br><br>
                                      €16/hour
                                      <br><br>
                                      <ul>
                                    <li>Spreadsheet or call centre work</li>
                                    <li>Basic admin skills</li>
                                              </ul>
                                          </div>
                                        </div>
                                 <div class="col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                            <b>Specialist Tasks</b>
                                      <br><br>
                                      €25/hour
                                      <br><br>
                                     <ul>
                                    <li>Acconting or Marketing work</li>
                                    <li>Some specialist skills needed</li>
                                              </ul>
                                          </div>
                                        </div>
                    </div>
                </div>
                 <div class="container-fluid text-center">
                <button class="btn btn-default BackTopBut" ng-click="gotoTopPriceGuide()">Back to Top</button>
                      </div>
         </div>
                
                
                
                
                  <div class="row PriceGuideSegment" id="ComputerAnchor"> 
                <h2 class="text-center PriceSegmentTitle"><b>Computer &amp; Website</b></h2>
                 <div class="container-fluid PriceSegments">
                    <div class="row">
                               <div class="col-xs-4 panel panel-default">
                                  <div class="panel-body text-center">
                                    <b>Basic panel example</b>
                                      <br><br>
                                      €10/hour
                                      <br><br>
                                      <ul>
                                    <li>Simple tech issue or website tweak</li>
                                    <li>Basic skills required</li>
                                      </ul>
                                  </div>
                                </div>
                                 <div class=" col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                           <b>Basic panel example</b>
                                      <br><br>
                                      €20/hour
                                      <br><br>
                                      <ul>
                                    <li>Software / website tech help</li>
                                    <li>Computer skills needed</li>
                                              </ul>
                                          </div>
                                        </div>
                                 <div class="col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                            <b>Basic panel example</b>
                                      <br><br>
                                      €25/hour
                                      <br><br>
                                      <ul>
                                    <li>Programming, development etc</li>
                                    <li>Professional skills needed</li>
                                              </ul>
                                          </div>
                                        </div>
                    </div>
                </div>
                      
                      <div class="container-fluid text-center">
                <button class="btn btn-default BackTopBut" ng-click="gotoTopPriceGuide()">Back to Top</button>
                      </div>
         </div>
                
                                     
                                             <div class="row PriceGuideSegment" id="ResearchAnchor"> 
                <h2 class="text-center PriceSegmentTitle"><b>Research</b></h2>
                 <div class="container-fluid PriceSegments">
                    <div class="row">
                               <div class="col-xs-4 panel panel-default">
                                  <div class="panel-body text-center">
                                    <b>Basic Data Collection</b>
                                      <br><br>
                                      €10/hour
                                      <br><br>
                                      <ul>
                                    <li>Email,phone or in-store

research</li>
                                    <li>No Skills required</li>
                                      </ul>
                                  </div>
                                </div>
                                 <div class=" col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                           <b>Field Research</b>
                                      <br><br>
                                      €14/hour
                                      <br><br>
                                      <ul>
                                    <li>Interviewing, mystery

shopping etc</li>
                                    <li>Basic research skills

required</li>
                                              </ul>
                                          </div>
                                        </div>
                                 <div class="col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                            <b>Research Participants</b>
                                      <br><br>
                                      €16/hour
                                      <br><br>
                                      <ul>
                                    <li>Focus groups or product testing</li>
                                    <li>Special candidates requirements</li>
                                              </ul>
                                          </div>
                                        </div>
                    </div>
                </div>
                      
                      <div class="container-fluid text-center">
                <button class="btn btn-default BackTopBut" ng-click="gotoTopPriceGuide()">Back to Top</button>
                      </div>
         </div>
                                     
                                             <div class="row PriceGuideSegment" id="PromoAnchor"> 
                <h2 class="text-center PriceSegmentTitle"><b>Promotional Staff</b></h2>
                 <div class="container-fluid PriceSegments">
                    <div class="row">
                               <div class="col-xs-4 panel panel-default">
                                  <div class="panel-body text-center">
                                    <b>Leaflet Handouts</b>
                                      <br><br>
                                      €10/hour
                                      <br><br>
                                      <ul>
                                    <li>Letterbox drops, flyer handouts etc</li>
                                    <li>Simple, friendly staff</li>
                                      </ul>
                                  </div>
                                </div>
                                 <div class=" col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                           <b>Event / Sales</b>
                                      <br><br>
                                      €15/hour
                                      <br><br>
                                      <ul>
                                    <li>Promotional or event help</li>
                                    <li>Basic sales or catering

skills</li>
                                              </ul>
                                          </div>
                                        </div>
                                 <div class="col-xs-4 panel panel-default">
                                          <div class="panel-body text-center">
                                            <b>Specialist Staff</b>
                                      <br><br>
                                      €20/hour
                                      <br><br>
                                      <ul>
                                    <li>Trades eg plumbing, electrical</li>
                                    <li>Special tools or licence needed</li>
                                              </ul>
                                          </div>
                                        </div>
                    </div>
                </div>
                      
                      <div class="container-fluid text-center">
                <button class="btn btn-default BackTopBut" ng-click="gotoTopPriceGuide()">Back to Top</button>
                      </div>
         </div>
                                     
                                             <div class="row PriceGuideSegment" id="FurnitureAnchor"> 
                <h2 class="text-center PriceSegmentTitle"><b>Furniture Assembly</b></h2>
                 <div class="container-fluid PriceSegments">
                    <div class="row">
                               <div class="col-xs-3 panel panel-default">
                                  <div class="panel-body text-center">
                                    <b>Simple</b>
                                      <br><br>
                                      €10/per Item
                                      <br><br>
                                      <ul>
                                    <li>Chair, table, or high chair</li>
                                    <li>Laptop table</li>
                                      </ul>
                                  </div>
                                </div>
                                 <div class="col-xs-3 panel panel-default">
                                          <div class="panel-body text-center">
                                            <b>Small</b>
                                              <br><br>
                                              €20/per Item
                                              <br><br>
                                              <ul>
                                            <li>Bookcases</li>
                                            <li>TV stand</li>
                                              </ul>
                                          </div>
                                        </div>
                                 <div class=" col-xs-3 panel panel-default">
                                          <div class="panel-body text-center">
                                           <b>Medium</b>
                                      <br><br>
                                      €40/per Item
                                      <br><br>
                                      <ul>
                                    <li>Sofa-bed or futon</li>
                                    <li>Chest of drawers</li>
                                              </ul>
                                          </div>
                                        </div>
                                 <div class="col-xs-3 panel panel-default">
                                          <div class="panel-body text-center">
                                            <b>Large</b>
                                      <br><br>
                                      €50/per Item
                                      <br><br>
                                      <ul>
                                    <li>Bed single, double or queen</li>
                                    <li>Wardrobe</li>
                                              </ul>
                                          </div>
                                        </div>
                    </div>
                </div>
                      
                      <div class="container-fluid text-center">
                <button class="btn btn-default BackTopBut" ng-click="gotoTopPriceGuide()">Back to Top</button>
                      </div>
         </div>
                
                
                
                
            </div>
    
    
    
    
</div>
</section>