<!-- ng-controller="TasksController" -->
<div class="col-sm-12" ng-controller="ModalOfferCtrl">
  <div class="alert alert-success" role="alert"><i aria-hidden="true" class=
    "fa fa-check-circle-o"></i> Consejo: Cuanta más información provees mejor oportunidad de conseguir el trabajo. Por ejemplo: información relevante, tu disponibilidad...</div>    
  <div class="alert alert-danger" role="alert" ng-hide="vm.authentication.user.profileImageURL === null || 'modules/users/client/img/profile/default.png'">
    Por favor, añades una foto para aumentar tus posibilidades
    <h3 class="pullright"><i aria-hidden="true" class=
    "fa fa-plus-circle"></i></h3>
  </div>
  <form class="form-horizontal" id="vm.form.offerForm" name="vm.form.offerForm"
  ng-submit="vm.newOffer(vm.form.offerForm.$valid)" novalidate="">
    <fieldset>
      <div class="row LocationCont noPadding">
          <div class="col-xs-4 noPadding">
            <div class="form-group" show-errors>
            <h3 class="taskDesc offerTaskHeader"><span class="glyphicon glyphicon-question-sign" tooltip-placement="top" tooltip="Introducir el presupuesto que ofrecerías para cumplir la tarea"></span> Presupuesto</h3>
            <div class="input-group">
                    <span class="input-group-addon">&euro;</span>
            <input class="form-control offerPrice" id="offerPrice" name="offerPrice"
            ng-model="vm.offer.offerPrice" placeholder="{{ vm.task.price }}" type="number" required>
          </div><!-- input group -->
            <div ng-messages="vm.form.offerForm.offerPrice.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Offer name
              is required.</p>
            </div>
          </div>
          </div>
          <div class="col-xs-4 noPadding">
            <div class="form-group">
            <h3 class="taskDesc offerTaskHeader">Recibirás</h3>
            <div class="input-group">
                    <span class="input-group-addon">&euro;</span>    
            <input disabled class="form-control yourPrice" id="getPaid" name="getPaid" placeholder="{{((vm.task.price/100)*85) | number:2}}" value="{{((vm.offer.offerPrice/100)*85) | number:2}}" ng-disabled="true"/>
            </div>    
          </div>
          </div>
          <div class="col-xs-4 noPadding">
            <div class="form-group">
              <h3 class="taskDesc offerTaskHeader">Comisión</h3>
                <div class="input-group">
                    <span class="input-group-addon">&euro;</span>
                    <input disabled class="form-control yourPrice" id="serviceCharge" name="serviceCharge" placeholder="{{((vm.task.price/100)*15) | number:2}}" value="{{((vm.offer.offerPrice/100)*15) | number:2}}" ng-disabled="true"/>
                </div>
          </div>
          </div>
        </div>
      <div class="form-group" show-errors>
        <h3 class="taskDesc offerTaskHeader">Detalles de la oferta</h3>
        <textarea class="form-control" cols="45" id="description" name="description"
        ng-model="vm.offer.offerDesc" placeholder="Explique por qué eres la persona adecuada para el trabajo" required
        rows="3"></textarea>
        <div ng-messages="vm.form.offerForm.description.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Offer description is
          required.</p>
        </div>
      </div>
      <div>
        <button class="submitanOffer btn-block myEteceReuseButton hvr-underline-reveal" style="" type="submit">Hacer una
        oferta</button>
      </div>
      <div class="text-danger" ng-show="vm.error">
        <strong ng-bind="vm.error"></strong>
      </div>
    </fieldset>
  </form>
</div>