<section>
    
    
    
<div class="row text-center"><h2>
    Admin Page</h2>
    </div>    
    
    
    
    <div class="row barChartAdmin">
      <canvas id="bar" class="chart chart-bar"
  chart-data="data" chart-labels="labels"> chart-series="series"
</canvas>
    </div>
          
           
           
  <div class="adminPage">
    <md-tabs md-dynamic-height md-border-bottom>
   
        
      <md-tab label="Users List">
        <md-content class="md-padding">
       <div class="row" >
        <div class="input-group">
          <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
      </div><br>
    
    <div class="row">
      <div class="col-md-4">
        <h4><span class="badge">{{ results.length }}</span> Users</h4>
      </div>
    
  <div class="list-group listUsersCol">
    <a ng-repeat="user in pagedItems | filter:x as results " ui-sref="admin.user({userId: user._id})" class="list-group-item" tooltip-placement="top" tooltip="Click to Edit user or view more details">
        <img alt="" src="{{ user.profileImageURL }}" onerror="if (this.src != 'default.png') this.src = '../modules/users/client/img/profile/default.png';" class="comments-user-img pull-left" data-ui-sref="profile({ userId : user._id })" style="margin-right:30px;">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div>
  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>
        </md-content>
      </md-tab>
        
        
             <md-tab label="KPIs">
        <md-content class="md-padding">
          <h4>KPIs</h4>
          <div class="col-xs-3">
              <div class="adminBadge One">
                 <span>0 {{tasks.totalMonth}}
                  <i class="fa fa-tasks" aria-hidden="true"></i>
                  </span>
                   <p>Tasks Posted this month</p>
                </div>
            
            </div>
            <div class="col-xs-3">
            <div class="adminBadge Two">
                 <span>0 {{tasks.totalMonth}}
                  <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
                  </span>
                   <p>Tasks Completed this month</p>
                </div>
            </div>
             <div class="col-xs-3">
              <div class="adminBadge Three">
                 <span>0 {{tasks.totalMonth}}
                  <i class="fa fa-eur" aria-hidden="true"></i>
                  </span>
                   <p>Tasks Sales this month</p>
                </div>
                
            </div>
            <div class="col-xs-3">
            <div class="adminBadge Four">
                 <span>0 {{tasks.totalMonth}}
                 <i class="fa fa-percent" aria-hidden="true"></i>
                  </span>
                   <p>Etece Revenue</p>
                </div>
            </div>
            
            
        </md-content>
      </md-tab> 
        
      
        <md-tab label="User Statistics">
        <md-content class="md-padding">
            <div class="row text-center">
             <canvas id="pie" class="chart chart-pie"
  chart-data="pieData" chart-labels="labelsPieChart" chart-options="options">
</canvas> 
            </div>
          <h4>User Stats</h4>
          <div class="col-xs-3">
            <div class="adminBadge Three">
                 <span>0 {{tasks.totalMonth}}
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                  </span>
                   <p>New Users this month</p>
                </div>
            </div>
             <div class="col-xs-3">
               <div class="adminBadge Two">
                 <span>0 {{tasks.totalMonth}}
                  <i class="fa fa-eur" aria-hidden="true"></i>
                  </span>
                   <p>Total Sales</p>
                </div>
            </div>
            <div class="col-xs-3">
            <div class="adminBadge Four">
                 <span>0 {{tasks.totalMonth}}
                  <i class="fa fa-users" aria-hidden="true"></i>
                  </span>
                   <p>Users Logged In this month</p>
                </div>
            </div>
            <div class="col-xs-3">
             <div class="adminBadge Five">
                 <span>0 {{tasks.totalMonth}}
                  <i class="fa fa-users" aria-hidden="true"></i>
                  </span>
                   <p>Churn Rate</p>
                </div>
            </div>
            
        </md-content>
      </md-tab> 
        <md-tab label="Google Analytics">
        <md-content class="md-padding">
              <div id="embed-api-auth-container"></div>
    <div id="view-selector-container"></div>
    <div id="main-chart-container"></div>
    <div id="breakdown-chart-container"></div>
        </md-content>
      </md-tab>
        <md-tab label="Kpi History">
        <md-content class="md-padding">
          <h4>KPI History</h4>
          <div class="col-xs-3">
            New Users this month
            </div>
             <div class="col-xs-3">
            Total Sales
            </div>
            <div class="col-xs-3">
            % of Users not Logged in this month
            </div>
            <div class="col-xs-3">
            User Demographi
            </div>
            
        </md-content>
      </md-tab>
    </md-tabs>
 
     </div>
    
<!--
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4><span class="badge">{{ results.length }}</span> Users</h4>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <div class="input-group">
          <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  <div class="list-group">
    <a ng-repeat="user in pagedItems | filter:x as results " ui-sref="admin.user({userId: user._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div>
  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>
-->
   
</section>
