<section>
  <div class="row bottomNav viewUserPage">
      <h4 class="text-center"></h4>
    <div class="row">
        <img alt="" src="{{ user.profileImageURL }}" onerror="if (this.src != 'default.png') this.src = '../modules/users/client/img/profile/default.png';" class="comments-user-img pull-left" data-ui-sref="profile({ userId : user._id })" style="margin-left:25px;width:6em;height:6em;">
      <div class="col-md-6">
        <h1 ng-bind="user.username"></h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary pull-right" ui-sref="admin.user-edit({userId: user._id})">
         Edit User <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary pull-right" ng-click="remove();" ng-if="user._id !== authentication.user._id">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
 

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>First Name</strong></div>
        <div class="col-md-6" ng-bind="user.firstName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Last Name</strong></div>
        <div class="col-md-6" ng-bind="user.lastName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Provider</strong></div>
        <div class="col-md-6" ng-bind="user.provider"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Created</strong></div>
        <div class="col-md-6" ng-bind="user.created"></div>
      </div>
      <hr/>
      <div class="row rolesRow">
        <div class="col-md-3"><strong>Roles</strong></div>
        <div class="col-md-6" ng-bind="user.roles"></div>
      </div>
    </div>
  </div>
</div>
    <div class="row text-center" style="margin-bottom:5em;">
    <button class="myBackButton eteceButton hvr-underline-reveal" ui-sref="admin.users">Back</button>
    </div>
     </div>
</section>
