<section class="row Dash" ng-controller="DashboardController">
  <div class="DashSection">
    <h3 class="text-center EditPrfTitle dashTitles Res"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Tablero 
      <i class="fa fa-arrow-circle-o-right" aria-hidden="true" ui-sref="settings.profile"></i>
    </h3>
  </div>
  <!--  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">-->
  <div class="container-fluid QuickLinks">
    <!--     <div class="well sliderProf"> -->
    <div style="height: 305px" class="well sliderProfDash">
      <h3 class="text-center dashTitles Res">¿Qué quieres hacer hoy {{user.firstName}}?</h3>
      <carousel interval="myInterval" no-wrap="noWrapSlides">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img class="sliderProfImg" ng-src="{{slide.image}}"  ui-sref="{{slide.url1}}">
            <img class="sliderProfImg" ng-src="{{slide.image2}}"  ui-sref="{{slide.url2}}">
              <img class="sliderProfImg" ng-src="{{slide.image3}}"  ui-sref="{{slide.url3}}">
       <a class="left carousel-control Dash" ng-click="prev()" ng-show="slides.length > 1" aria-hidden="false"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control Dash" ng-click="next()" ng-show="slides.length > 1" aria-hidden="false"><span class="glyphicon glyphicon-chevron-right"></span></a>
              </slide>
            </carousel>
          </div>
      
      <div style="height: 305px" class="well taskSummaryProfDash">
          <div class="profileTaskSummary">
            <div class="col-sm-12 text-center profTaskSumInterior noPadding">
              <div class="DashSub">
                <h3 class="text-center EditPrfTitle dashTitles">Sumario de Mis Tareas</h3>
              </div>
            </div>
  
<div class="col-xs-12 profTaskSumInteriorBadges noPadding">  
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Tareas en curso">
                <div class="taskSummaryGraph text-center">
                  <div class="col-xs-12 noPadding">
                    <div class="col-xs-3">
                      <div class="well taskGraphCompleted">
                        <h1>{{ postedOffersTotal }}</h1>
                        <h4>Pujado
                        </h3>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="well taskGraphCompleted">
                        <h1>{{ offerAcceptedTotal }}</h1>
                        <h4>Asignado</h4>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="well taskGraphCompleted">
                        <h1>{{ 0 }}
                        </h3>
                        <h4>Pago pendiente
                        </h1>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="well taskGraphCompleted">
                        <h1>{{ completedOffersTotal }}
                        </h4>
                        <h4 class="noPadding">Completado</h4>
                      </div>
                    </div>
                  </div>
                </div>
   
      </md-tab>
      <md-tab label="Tareas Publicado">
             <div class="taskSummaryGraph text-center">
                  <div class="col-sm-10 col-sm-offset-1">
                    <div class="col-xs-3">
                      <div class="well taskGraphCompleted">
                        <h1>{{ statusOpenTotal }}</h1>
                        <h4>Aceptando ofertas</h4>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="well taskGraphCompleted">
                        <h1>{{ statusAssignedTotal }}</h1>
                        <h4>Asignado</h4>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="well taskGraphCompleted">
                        <h1>{{ statusPostedAwaitingPayment }}
                        </h4>
                        <h4>Pago pendiente
                        </h1>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="well taskGraphCompleted">
                        <h1>{{ completedTasksTotal }}</h1>
                        <h4>Completado</h4>
                      </div>
                    </div>
                  </div>
                </div>
        
      </md-tab>
    </md-tabs>
                </div>   
              </div>
           </div>
            <div class="col-sm-6 col-sm-offset-3 text-center profProgRes">
              <h3 class="dashTitles">Tu perfil está {{ value }}% completo</h3>
                <md-progress-linear md-mode="determinate" value="80" class="progressOfProfile"></md-progress-linear>
            </div>
            <br>
              <div class="col-sm-12 noPadding">
                  
                <div class=" col-sm-6 col-xs-12 panel-subtle text-center pull-left leftNotifPanel">
                  <h4 tooltip-placement="right" tooltip="Scroll to see more recent activity" class="dashTitles">Actividad reciente de Etece</h4>
                  <li class="list-group-item animate-repeat dashNotificationListItem" data-ng-repeat="task in allTasks">
                    <img class="recentActivityIMG pull-left" src="{{ task.profileImageURL }}" onerror="if (this.src != 'default.png') this.src = '../modules/users/client/img/profile/default.png';" alt="">
                      <p>{{ task.user.displayName }} publicó 
                        <a data-ui-sref="tasks.view({ taskId: task._id })">{{ task.title }}</a>
                      </p>
                    </li>
                  </div>
                  <div class="col-sm-6 col-xs-12 panel-subtle text-center pull-right rightNotifPanel">
                    <h4 tooltip-placement="right" tooltip="Scroll to see more notifications" class="dashTitles">Notificaciones</h4>
                    <div data-ng-repeat="task in allTasks" data-ui-sref="tasks.view({ taskId: task._id })">
                      <li class="list-group-item animate-repeat dashNotificationListItem" data-ng-repeat="comment in task.comments | orderBy:('created')">
                        <img src="{{ comment.profileImageURL }}" onerror="if (this.src != 'default.png') this.src = '../modules/users/client/img/profile/default.png';" alt="" class="recentActivityIMG pull-left">
                          <p class="dashNotifCommentParag">{{ comment.displayName }} comentó en 
                            <a data-ui-sref="tasks.view({ taskId: task._id })">{{ task.title }}</a>
                          </p>
                        </li>
                      </div>
                      <!-- repeat task comment alerts -->
                      <div data-ng-repeat="offer in respOffers" data-ui-sref="tasks.view({ taskId: offer.taskId })">
                        <li class="list-group-item animate-repeat dashNotificationListItem">
                          <img src="{{ offer.profileImageURL }}" onerror="if (this.src != 'default.png') this.src = '../modules/users/client/img/profile/default.png';" alt="" class="recentActivityIMG pull-left">
                            <p>{{ offer.displayName }} hizó una oferta en 
                              <a data-ui-sref="tasks.view({ taskId: offer.taskId })">{{ offer.taskName }}</a>
                            </p>
                          </li>
                        </div>
                        <!-- repeat offers made alerts -->
                      </div>
                    </div>
                  </section>