<section class="row Dash" ng-controller="EditPaymentDetailsController">
<div class="Dash">
    <h3 class="text-center EditPrfTitle"><i class="fa fa-credit-card" aria-hidden="true"></i> Gestionar sus pagos.</h3>
  </div>      
    <tabset>
        <tab heading="Make payments">
            <br>
            <div class="list-group-item">
                <p>When you are ready to accept a TaskRunner's offer, you will be required to pay the funds required for the task. The fee will be held securely until the task has been completed and the Task Poster releases the funds to the TaskRunner.</p>
            </div>
            <hr>
            <div class="well" style="background:white !important;">
            <h3 ng-show="user.stripeCustomerId">Update your payment details</h3>
            <h3 ng-show="!user.stripeCustomerId">Añadir su información de pago</h3>
                
      <form name="checkoutForm" stripe-form="stripeCallback" ng-submit="onSubmit()" data-abide>
        <md-input-container>
          <label class="hosted-field--label" for="card-number"><span class="icon">
         <span class="glyphicon glyphicon-credit-card"></span></span> Card Number 
        </label>
          <input ng-model="number" name="number" payments-format="card" payments-validate="card" type="text"/>     
        </md-input-container>
        <md-input-container>    
          <label class="hosted-field--label" for="cardholder-name">
           <span class="icon">
          <span class="glyphicon glyphicon-user"></span>
         </span> 
          Cardholder Name</label>
          <input ng-model="name" type="text">  
            </md-input-container>
        <md-input-container>
          <label class="hosted-field--label" for="expiration-date">
           <span class="icon">
          <span class="glyphicon glyphicon-calendar"></span>
         </span> 
          Expiration Date
          </label>
          <input ng-model="expiry" name="expiry" payments-format="expiry" payments-validate="expiry" type="text"/>
        </md-input-container>
        <md-input-container>
          <label class="hosted-field--label" for="cvc">
           <span class="icon">
          <span class="glyphicon glyphicon-calendar"></span>
         </span> 
          CVC
          </label>
          <input ng-model="cvc" name="cvc" payments-format="cvc" payments-validate="cvc" type="text"/>
        </md-input-container>  
          <md-input-container>
          <label class="hosted-field--label" for="address">
           <span class="icon">
          <span class="glyphicon glyphicon-map-marker"></span>
         </span> 
          Billing Address
          </label>
          <input ng-model="address" type="text">
        </md-input-container>        
          <md-input-container>
          <label class="hosted-field--label" for="postalCode">
           <span class="icon">
          <span class="glyphicon glyphicon-map-marker"></span>
         </span> 
          Postal Code
          </label>
          <input type="number" ng-model="postalCode"/>
        </md-input-container>

  <div class="clearfix">
    <div class="right">
            <md-button type="submit" class="md-raised md-primary" ng-disabled="checkoutForm.$invalid">Save payment details</md-button>
    </div>
  </div>
      </form>
        </div>
        </tab>
        <tab heading="Stored cards">
        <br>
            <div class="list-group-item" ng-show="!results.length">
                <p>Once you have completed a task on TaskMatch, you will see a list of your completed payments here.</p>
            </div>
            <hr>
            <div ng-show="results.length > 0"><h4 class="text-center"><strong>Stored payment cards</strong></h4>
            </div>
            <div class="panel panel-default" ng-repeat="card in customerDetails.sources.data | filter:x as results">
              <div class="panel-heading"><h5 class="blueHeader">Card number:   <strong>**** **** **** {{card.last4}}</strong></h5></div>
              <div class="panel-body">
                <small><strong>Expiry date:</strong></small>
                <p>{{ card.exp_month }}/{{ card.exp_year }}</p>
                <small><strong>Brand:</strong></small>
                <p>{{ card.brand }}</p>
                <small><strong>Funding:</strong></small>
                <p>{{ card.funding }}</p>
              </div>
            </div>
        </tab>
        <tab heading="Receive payments">
            <br>
            <div class="list-group-item">
                <p>When you are ready to accept a TaskRunner's offer, you will be required to pay the funds required for the task. The fee will be held securely until the task has been completed and the Task Poster releases the funds to the TaskRunner.</p>
            </div>
            <hr>
            <div class="well" style="background:white !important;">
                <h3>PayPal Details</h3>
                <form ng-submit="updateReceivePayment()" novalidate autocomplete="off">
                    <div class="form-group">
                            <label class="control-label" for="paypalEmailAddress">PayPal email address</label>
                            <input class="form-control" ng-model="user.payPalEmail" id="paypalEmailAddress" type="text">
                    </div>
                    <div class="form-group">
                <button class="submit-comment btn-block" type="submit">Add PayPal email</button>
                         <small>PayPay will charge additional transaction fees upon receipt of funds as standard</small>
              </div>
                </form>
              </div>
        </tab>
        <tab heading="Payments history">
        <br>
            <div class="list-group-item" ng-show="!results.length">
                <p>Once you have completed a task on TaskMatch, you will see a list of your completed payments here.</p>
            </div>
            <hr>
            <div ng-show="results.length > 0"><h4 class="text-center"><strong>Previous payments</strong></h4>
            </div>
            <div class="panel panel-default" ng-repeat="charge in customerCharges.data | filter:x as results">
              <div class="panel-heading">
                  <h5 class="blueHeader">Transaction no: <strong>{{ charge.id }}</strong></h5>
              </div>
              <div class="panel-body">
                  <div class="col-xs-6">
                      <h4><strong>Payment details</strong></h4>
                      <small><strong>Amount:</strong></small>
                      <p>&euro;{{charge.amount / 100 | number:2}}</p>
                      <small><strong>Created:</strong></small>
                      <p>{{ charge.created }}</p>
                      <small><strong>Status:</strong></small>
                      <p>{{ charge.status }}</p>
                      <small><strong>Country:</strong></small>
                      <p>{{ charge.source.country }}</p>
                  </div>
                  <div class="col-xs-6">
                    <h4><strong>Card</strong></h4>
                    <small><strong>Cardholder name:</strong></small>  
                    <p>{{ charge.source.name}}</p>
                    <small><strong>Card provider:</strong></small>  
                    <p>{{ charge.source.brand }}</p>
                    <small><strong>Last 4 digits:</strong></small>  
                    <p>{{ charge.source.last4 }}</p>
                    <small><strong>Expiry date:</strong></small>  
                    <p>{{ charge.source.exp_month }}/{{ charge.source.exp_year }}</p>
                  </div>
              </div>
            </div>
        </tab>
    </tabset>
</section>