.offerRepeat {
  background: #fff !important;
}

.rating {
  padding-top: 5px;
  color: #ffd700 !important;
}

.valueTitle2 {
  color: #1e90ff;
  font-size: 26px;
  margin-top: 2.5em;
}

.Investors {
  background-image: url(/modules/core/client/img/InvestorBG.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  width: 90%;
  padding: 0;
  margin-right: 5%;
  background-color: #fff;
}

.InvestorLeftTitle {
  margin-left: 2%;
  margin-right: 20%;
  margin-top: 4%;
  padding-top: 40px;
  color: #696969;
  font-weight: 600;
}

.InvestorsLeftInfo {
  margin-left: 2%;
  margin-right: 20%;
  margin-top: 2%;
  color: #696969;
  font-weight: 200;
}

.InvestorsRightLogin {
  padding: 50px;
  border-left: 1px solid lightgray;
}

.leftFinalTaskSide {
  border-right: 1px solid #696969;
}

.fiterbox3.ng-hide-add {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.filterbox3.ng-hide-remove {
  -webkit-animation: .3s show;
  animation: .3s show;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.filterbox3.ng-hide-remove {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.modal-content + input[type=text],select {
/*  width: 100% !important;*/
  width: 100%;
  line-height: 14px;
}

#taskDateInputModal {
  border-radius: 5px;
}

.taskDateInputModal {
  border-radius: 5px;
}

.categoryInput {
  width: 100%;
}

#categoryInput {
  width: 100%;
}

.LocationInput {
  width: 100%;
}

.priceInputOffer {
  width: 90%;
}

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.divTaskModalDesc {
  margin-bottom: 0;
}

.valueTitle {
  color: #1e90ff;
  font-size: 26px;
  margin: 80px 0 20px;
}

.AnimateBG2 {
  display: none;
}

.aboutInfo {
  padding-top: 10px;
  margin-left: 10%;
  margin-right: 8%;
}

/*

.infoStatement {
  margin-top: 30%;
  padding-left: 35px;
  font-weight: 100;
}
*/
.postingTwoBG {
  height: auto;
  width: 100%;
  background: #fff;
  background: linear-gradient(whitesmoke,lightgray);
  position: relative;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  z-index: 1;
}

.postingFourBG {
  background-image: url(/modules/core/client/img/todo5BG.png);
/*no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  width: 100%;
  opacity: .7;
  margin: 0;
}

@media screen and (min-width: 100px) and (max-width: 1230px) {
  .ButtonsCat {
    font-size: 10px;
  }

  .EarnInfoTitle {
    font-size: 45px;
    color: #fff;
    font-weight: 100;
    padding-right: 12%;
    padding-left: 50%;
    padding-top: 8%;
    text-shadow: 3px 3px 3px black,0 0 5px #696969;
  }
}

@media screen and (min-width: 100px) and (max-width: 900px) {
  .contentTask {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    background: #f1f1f6;
  }

  .centerText3 {
    position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #fff;
    text-shadow: 4px 4px 6px #000;
  }

  .centerText3:hover {
    position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: #fff;
    text-shadow: 4px 4px 6px #000;
  }

  .AnimateBG {
    display: none;
  }

  .animationInfo1 {
    visibility: hidden;
  }

  .animationInfo2 {
    visibility: hidden;
  }

  .animationInfo3 {
    visibility: hidden;
  }

  .signUpPanel .panel-body {
    padding: 0;
  }

  .signUpPanel {
    margin-left: 0;
  }

  .PriceGuideSegment ul {
    text-align: left;
  }

  .completeThreeBG {
    height: auto;
    width: 100%;
    background: #fff;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 1;
  }

  /*  .EarnInfoTitle {
      font-size: 45px;
      color: #fff;
      font-weight: 100;
      padding-right: 12%;
      padding-left: 50%;
      padding-top: 8%;
      text-shadow: 3px 3px 3px black,0 0 5px #696969;
    }*/
  .aboutUs {
    font-size: 50px;
    text-align: left;
    margin: 50px 30% 10px 11%;
    position: absolute;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
  }

  .supAbout {
    position: absolute;
    top: 10px;
    font-size: 20px;
    text-align: left;
    margin-left: 11%;
    margin-right: 40%;
    margin-top: 14em !important;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
  }
}

@media screen and (min-width: 100px) and (max-width: 820px) {
  .AnimateBG {
    display: none;
  }

  .row.appGo {
    display: none;
  }

  .infoStatement {
    margin-top: 10%;
    padding-left: 35px;
    font-weight: 100;
    margin-left: 5%;
  }
}

@media screen and (min-width: 100px) and (max-width: 770px) {
  .smallQuote {
    border-radius: 10px;
    color: #fff;
    background-color: #ca2d60;
    font-family: 'Ubuntu';
  }

  .requestQuote {
    display: none;
  }

  .cover {
    display: none;
  }

  .request {
    display: none;
  }

  .moreOptions {
    display: none;
  }

  .todo2infop {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
  }

  .formimg7 {
    top: 20px;
    height: 55%;
    width: 55%;
    opacity: .9;
    padding-left: 30%;
    margin-left: 7%;
    padding-bottom: 30px;
  }

  .formimg4 {
    margin-top: 40px;
    height: 50%;
    width: 50%;
    opacity: .9;
  /*   margin-left: 28%;*/
  }

  .formimg5 {
    display: none;
  }

  .HowWorksInfoPara {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    text-align: center;
  }

  /*  .EarnInfoTitle {
      position: absolute;
      top: 60px;
      text-align: center;
      font-size: 40px;
      color: #fff;
      font-weight: 100;
      padding-right: 12%;
      padding-left: 10%;
      padding-top: 3%;
      text-shadow: 3px 3px 3px black,0 0 5px #696969;
    }*/
  /*  .panelSign {
      margin-top: 150px;
      width: 70%;
      margin-left: 15%;
    }*/
  .SocialButtons {
    margin-right: 0;
    text-align: center;
    padding-left: 8%;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 100px) and (max-width: 760px) {

  .taskRepeat {
    padding-left:0;
    padding-right:0;
  }

  .taskProfileImg {
    width: 55px;
    height: 55px;
    border-radius: 35px;
    margin-top: 5px;
    margin-left: 2px;
  }

  small.list-group-item-text.PostedOn {
    display: none;
  }

  .AnimateBG {
    display: none;
  }

  /*
    .todoInfo8 {
      padding-left: 20%;
      padding-right: 20%;
      font-size: 21px;
      color: #696969;
      font-weight: 100;
      padding-top: 40px;
      text-shadow: 3px 3px 3px #fff;
      text-align: center;
    }*/
  .HowWorksOne {
    height: auto;
  }

  .PriceGuideSegment ul {
    font-size: 11px;
  }

  .PriceGuideSegment .panel-body {
    padding: 0;
  }

  .PriceGuideSegment .panel-body .b {
    font-size: 15px;
  }

  .comp5Info {
    padding-top: 40px;
    padding-left: 10%;
    text-align: center;
  }

  .todoInfo5 {
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    padding-right: 10%;
    padding-left: 14%;
    padding-top: 40px;
    text-shadow: 3px 3px 3px #000;
    text-align: center;
  }

  .infoComple {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }

  .infoComple2 {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }

  .todoInfo2 {
    font-size: 25px;
    color: #696969;
    font-weight: 100;
    padding-right: 10%;
    padding-left: 15%;
    padding-top: 40px;
    text-shadow: 3px 3px 3px #fff;
    text-align: center;
  }

  .SocialButtons {
    margin-right: 0;
    text-align: center;
    padding-left: 8%;
    padding-bottom: 20px;
  }

  /*  .EarnInfoTitle {
      position: absolute;
      top: 60px;
      text-align: center;
      font-size: 40px;
      color: #fff;
      font-weight: 100;
      padding-right: 12%;
      padding-left: 10%;
      padding-top: 3%;
      text-shadow: 3px 3px 3px black,0 0 5px #696969;
    }*/
/*  .panelSign {
    margin-top: 225px;
  }*/

  .formimg2 {
    margin-top: 50px;
    height: 50%;
    width: 50%;
    opacity: .7;
  /*    margin-left: 29%;*/
    padding-bottom: 30px;
    padding-left: 5%;
  }

  .todoInfo8 {
    font-size: 25px;
    color: #696969;
    font-weight: 100;
    padding-top: 40px;
    text-shadow: 3px 3px 3px #fff;
    text-align: center;
  }

  .todoInfo7 {
    font-size: 25px;
    color: #696969;
    font-weight: 100;
    padding-right: 10px;
    padding-left: 3%;
    padding-top: 40px;
    text-shadow: 3px 3px 3px #fff;
    text-align: center;
  }

  .todoInfo9 {
    font-size: 3.5em;
  }

  .todo2infop {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
  }

  /*  .formimg {
      margin-top: 50px;
      height: 30%;
      width: 30%;
      opacity: .9;
      margin-left: 34%;
    }
  */
  .CompInfo4 {
    font-size: 25px;
    color: #696969;
    font-weight: 100;
    padding-right: 5%;
    padding-left: 1%;
    padding-top: 40px;
    text-shadow: 3px 3px 3px lightgray;
    text-align: center;
  }

  .compIcons2 {
    margin-top: 30px;
    height: 30%;
    width: 30%;
    opacity: .7;
    margin-left: 34%;
    margin-right: 50%;
    text-align: center;
  }

  .compIcons {
    margin-top: 30px;
    height: 30%;
    width: 30%;
    opacity: .7;
    margin-left: 35%;
    margin-right: 40%;
    text-align: center;
  }
}

@media screen and (min-width: 100px) and (max-width: 650px) {
  .AnimateBG {
    display: none;
  }

  .AnimateBG2 {
    display: block;
    height: 1500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
  }

  /*  .formimg {
      margin-top: 50px;
      height: 30%;
      width: 30%;
      opacity: .9;
      margin-left: 35%;
      padding-bottom: 30px;
    }*/
  .compIcons {
    margin-top: 30px;
    height: 30%;
    width: 30%;
    opacity: .7;
    margin-left: 37%;
    margin-right: 40%;
    text-align: center;
  }

  .compIcons2 {
    margin-top: 30px;
    height: 30%;
    width: 30%;
    opacity: .7;
    margin-left: 30%;
    margin-right: 50%;
    text-align: center;
  }

  .PriceInfoTop {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 100;
  }

  .PriceGuideSegment ul {
    padding: 25px;
  }

  .PriceSegmentTitle {
    font-size: 22px;
  }

  .PriceGuideSegment .panel {
    padding: 4px;
    font-size: 14px;
  }

  .PriceGuideSegment .panel-body {
    font-size: 12px;
  }

  .InvestorLeftTitle {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    color: #696969;
    font-weight: 600;
    text-align: center;
  }

  .InvestorsLeftInfo {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    color: #696969;
    font-weight: 200;
    text-align: center;
  }

  .Investors {
    background-image: url(/modules/core/client/img/InvestorBG.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    width: 90%;
    padding: 0;
    margin-right: 5%;
    background-color: #fff;
  }

  .compIcons2 {
    margin-top: 30px;
    height: 30%;
    width: 30%;
    opacity: .7;
    margin-left: 34%;
    margin-right: 50%;
    text-align: center;
  }

  /*  .comp2 {
      margin-top: 10px;
      height: 130px;
      width: 130px;
      opacity: .7;
      text-align: center;
      margin-left: 35%;
    }*/
  /*  .formimg {
      margin-top: 50px;
      height: 30%;
      width: 30%;
      opacity: .9;
      margin-left: 35%;
      padding-bottom: 30px;
    }*/
  .findOut {
    border: 1px solid #1e90ff;
    color: #1e90ff;
    font-weight: 200;
    font-size: 100%;
    width: 40%;
    margin: 25px 30% 55px;
    text-align: center;
    background-color: transparent;
    border-radius: 15px;
  }

  .findOut:hover {
    border: 1px solid #1e90ff;
    color: #1e90ff;
    font-weight: 400;
    font-size: 100%;
    width: 40%;
    margin: 25px 30% 55px;
    text-align: center;
    background: #f0f0f5;
  }

  .findOut:focus {
    outline: none;
  }

  .supAbout {
    margin-top: 12em !important;
    font-size: 16px;
    text-align: left;
    margin-left: 12%;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
  }

  /*  .aboutUs {
      font-size: 45px;
      text-align: left;
      margin: 50px 29% 0 15%;
      position: absolute;
      color: #fff;
      text-shadow: 3px 3px 3px #000;
    }*/
  .infoStatement {
    margin-top: 10%;
    padding-left: 5%;
    font-weight: 100;
    margin-left: 2%;
  }

  /*  .todoInfo8 {
      padding-left: 20%;
      padding-right: 20%;
      font-size: 21px;
      color: #696969;
      font-weight: 100;
      padding-top: 40px;
      text-shadow: 3px 3px 3px #fff;
      text-align: center;
    }*/
  .todoInfo7 {
    font-size: 21px;
    color: #696969;
    font-weight: 100;
    padding-right: 10px;
    padding-left: 3%;
    padding-top: 40px;
    text-shadow: 3px 3px 3px #fff;
    text-align: center;
  }

  .todo2infop {
    text-align: center;
  }

  /*  .formimg {
      margin-top: 50px;
      height: 40%;
      width: 40%;
      opacity: .9;
      margin-left: 32%;
      padding-bottom: 30px;
    }*/
  .todoInfo2 {
    font-size: 20px;
    color: #696969;
    font-weight: 100;
    padding-right: 10%;
    padding-left: 7%;
    padding-top: 40px;
    text-shadow: 3px 3px 3px #fff;
    text-align: center;
  }

  .CompInfo4 {
    font-size: 17px;
    color: #696969;
    font-weight: 100;
    padding-right: 5%;
    padding-left: 1%;
    padding-top: 40px;
    text-shadow: 3px 3px 3px lightgray;
    text-align: center;
  }
}

@media screen and (min-width: 100px) and (max-width: 575px) {
  .row.signup {
    display: none;
  }/*  .EarnInfoTitle {
      font-size: 40px;
    }*/
  /*  .comp2 {
      margin-top: 10px;
      height: 130px;
      width: 130px;
      opacity: .7;
      text-align: center;
      margin-left: 35%;
    }*/
  /*  .panelSign {
      margin-top: 190px;
      width: 80%;
      margin-left: 10%;
    }*/
  /*  .formimg {
      margin-top: 50px;
      height: 30%;
      width: 30%;
      opacity: .9;
      margin-left: 35%;
      padding-bottom: 30px;
    }*/
  
}

@media screen and (min-width: 100px) and (max-width: 475px) {
  /*  .formimg {
      margin-top: 50px;
      height: 30%;
      width: 30%;
      opacity: .9;
      margin-left: 35%;
      padding-bottom: 30px;
    }*/

  .getStarted {
    margin-left: auto;
    margin-top: 17px;
    margin-right: auto;
    width: 100%;
  }

  .md-datepicker-input-container {
    overflow-x: hidden;
    margin-left: -5px;
    width: 6.5em !important;
  }

  md-icon.md-datepicker-calendar-icon.ng-scope {
    margin-top: -18px;
  }

  md-datepicker {
    margin-left: -16px !important;
  }
  md-datepicker-button {
    padding: 0;
  }

  .modal-content {
    width: 100% !important;
    margin: 0 !important;
  }

  .descriptionTaskModal {
    width: 100%;
  }

  .splitCategBt {
    width: 90% !important;
  }

  span.caret.specCaret {
    margin-left: 4em !important;
    cursor: pointer;
  }

  p.hideSmall {
    display: none;
  }

  .panel-subtle {
    width: 80% !important;
    margin-left: 10%;
    margin-right: 10%;
  }

  .taskSummaryGraph {
    height: auto !important;
  }

  .taskGraphCompleted {
    margin-top: 1em !important;
    height: 9em !important;
  }
  /*  .panelSign {
      margin-top: 230px;
    }*/
  .footer-links .footer2 {
    margin-left: 10px;
    padding-left: 45px;
    padding-right: 15px;
  }/*  .comp2 {
      margin-top: 10px;
      height: 130px;
      width: 130px;
      opacity: .7;
      text-align: center;
      margin-left: 33%;
    }*/
  
}